<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @event_order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @event_order.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @event_order.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @event_order.phone %>
</p>

<%= link_to 'Edit', edit_event_order_path(@event_order) %> |
<%= link_to 'Back', event_orders_path %>
