<% title "Detail: #{@order.email}" %>

<!-- Info alert -->
<div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
    <h6 class="alert-heading text-semibold">BOOKING</h6>
    <!-- Navigation -->
    
        <div class="panel-heading">
            <h6 class="panel-title">Customer</h6>
        </div>

        <div class="list-group list-group-borderless no-padding-top">
            <div class="list-group-item"><i class="icon-user"></i> <label class="panel-title">Tên khách hàng: <%= @order.first_name %> <%= @order.last_name %></label></div>
            <div class="list-group-item"><i class="icon-envelop4"></i> <label class="panel-title">Email: <%= @order.email %></label></div>
            <div class="list-group-item"><i class="icon-mobile2"></i> <label class="panel-title">Số di động: <%= @order.phone %></label></div>
            <div class="list-group-item"><i class="icon-phone"></i> <label class="panel-title">Số bàn: <%= @order.tel %></label></div>
            <div class="list-group-item"><i class="icon-office"></i> <label class="panel-title">Khách sạn: <%= @order.hotel.name %></label></div>
            <div class="list-group-item"><i class="icon-home2"></i> <label class="panel-title">Loại phòng: <%= @order.room.name %></label></div>
            <div class="list-group-item"><i class="icon-man-woman"></i> <label class="panel-title">Số người lớn: <%= @order.adult %></label></div>
            <div class="list-group-item"><i class="icon-height"></i> <label class="panel-title">Số trẻ em: <%= @order.child %></label></div>
            <div class="list-group-item"><i class="icon-calendar"></i> <label class="panel-title">Ngày nhận phòng: <%= @order.checkin.strftime("%d/%m/%Y") if !@order.checkin.nil? %></label></div>
            <div class="list-group-item"><i class="icon-calendar"></i> <label class="panel-title">Ngày trả phòng: <%= @order.checkout.strftime("%d/%m/%Y") if !@order.checkout.nil? %></label></div>
            <div class="list-group-item"><i class="icon-calendar"></i> <label class="panel-title">Ngày gửi yêu cầu: <%= @order.created_at.in_time_zone("Asia/Bangkok").strftime("%H:%M %d/%m/%Y") %></label></div>
            <div class="list-group-divider"></div>
            <div class="list-group-item"><i class="icon-calendar3"></i> <label class="text-semibold">Message</label> <br/><br/><%= @order.note %></div>
        </div>
    
    <!-- /navigation -->
</div>
<!-- /info alert -->