<li>
  <a href="#"><i class="icon-office"></i> <span><%= t(:hotel) %></span></a>
  <ul>
      <li>
        <%= link_to 'Hotels', naturesoft_hotels.admin_hotels_path %>
      </li>
      <li>
        <%= link_to 'Rooms', naturesoft_hotels.admin_rooms_path %>
      </li>
      <li>
        <%= link_to 'Services', naturesoft_hotels.admin_services_path %>
      </li>
      <li>
        <%= link_to 'Facilities', naturesoft_hotels.admin_facilities_path %>
      </li>
      <li>
        <%= link_to 'Labels', naturesoft_hotels.admin_labels_path %>
      </li>
      <li>
        <%= link_to 'Hotel Types', naturesoft_hotels.admin_hotel_types_path %>
      </li>
      <li>
        <%= link_to 'Room Types', naturesoft_hotels.admin_room_types_path %>
      </li>
      <li>
        <%= link_to 'Bed Types', naturesoft_hotels.admin_bed_types_path %>
      </li>
      <li>
        <%= link_to 'Events', naturesoft_hotels.admin_events_path %>
      </li>
      <li>
        <%= link_to 'Event Categories', naturesoft_hotels.admin_event_categories_path %>
      </li>
  </ul>
</li>
<li>
  <a href="#"><i class="icon-grid"></i> <span><%= t(:booking_hotel) %></span></a>
  <ul>
      <li>
        <%= link_to 'Booking', naturesoft_hotels.admin_orders_path %>
      </li>
      <li>
        <%= link_to 'Quick Booking', naturesoft_hotels.admin_quick_orders_path %>
      </li>
      <li>
        <%= link_to 'Reviews', naturesoft_hotels.admin_reviews_path %>
      </li>
  </ul>
</li>